mixin popUp(popUpType, popUpHeaderText)
    if popUpType == 'editUser'
        .popUp__header
            h3 #{popUpHeaderText}
            i.fa.fa-close.popUp__close
        include ../_includes/_popUpContent-editUser
        include ../_includes/_popUpFooter-saveCancel
    else if popUpType == 'addAlbum'
        .popUp__header
            h3 #{popUpHeaderText}
            i.fa.fa-close.popUp__close
        include ../_includes/_popUpContent-addAlbum
        include ../_includes/_popUpFooter-saveCancel
    else if popUpType == 'editPhoto'
        .popUp__header
            h3 #{popUpHeaderText}
            i.fa.fa-close.popUp__close
        include ../_includes/_popUpContent-editPhoto
        include ../_includes/_popUpFooter-saveCancelDelete
    else if popUpType == 'addPhoto'
        .popUp__header
            h3 #{popUpHeaderText}
            i.fa.fa-close.popUp__close
        include ../_includes/_popUpContent-addPhoto
        include ../_includes/_popUpFooter-saveCancel
    else if popUpType == 'editHeader'
        include ../_includes/_popUpContent-editHeader
        include ../_includes/_popUpFooter-cancelSave
    else if popUpType == 'editAlbum'
        include ../_includes/_popUpContent-editAlbum
        include ../_includes/_popUpFooter-cancelSave


mixin social_edit__item(socialName, socialNameInput)
    li.social_edit__item
        label.popUp__content__label #{socialName}
        input(type='text', name='socialNameInput', placeholder=`${socialName}`)


mixin social_edit__item-top(socialLink, socialNameFa)
    li.social_edit__item-top
        i(class='fa fa-'+`${socialNameFa}`)